*,*::before,*::after{
    box-sizing: border-box;
}

html{
    font-size: 50.0%;
}

body{
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;
}

h1,h2,h3,h4,button{
    font-family: "Oswald";
    line-height: 100%;
    color : #A59678
}
p,li{
    font-family: "Montserrat",sans-serif;
    line-height: 140%;
}
a{
    color : white;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header{
    padding: 2rem 0;
    background-color: #2E323F;
}
.header h3{
    background-color: #2E323F;
    color : white;
    font-size: 4.2rem;
    margin: 0;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__toggle{
    border-radius: 50%;
    padding: 2rem 1.5rem;
    background-color: #3B4050;
    cursor: pointer;
}
.toggle__icon{
    display: block;
    width: 3rem;
    height: 3px;
    background-color: white;
}
.toggle__icon:not(:last-child){
    margin-bottom: 5px;
}

.header__menu{
    margin : 2rem 0;
    padding: 0;
    list-style-type: none;
    display: none;
    transition: 0.5s ease-out;
}

.header__menu--item{
    text-align: center;
}

.header__menu--item:not(:last-child){
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(82, 79, 79);
}

.menu__link{
    padding: 1rem 2rem;
    font-family: "Oswald",sans-serif;;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
}

.signup{
    border-radius: 20px;
    background-color: #A59678;
    width: 100%;
}

.display__item{
    display: block;
}

.hero__box{
    padding: 9rem 0;
    background-color: #3B4050;
    color : white;
}
.big__hero__text{
    color : white;
    font-size: 7rem;
}
.other__color--big{
    color : #A59678;
    line-height: 100%;
}
.btn{
    background-color: #A59678;
    border: 0;
    outline: 0;
    padding: 1.5rem 4rem;
    cursor: pointer;
    color : white;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: bolder;
    border-radius: 3rem;
}

.main__section{
    padding: 5rem 0;
    background-color:rgb(237, 250, 241);
}

.secondary__section{
    padding: 5rem 0;
}

.row2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rowitem{
    padding: 2rem 2.5rem;
    text-align: center;
    color : white;
    background-color: #2E323F;
}

.footer{
    color : white;
    padding: 5rem 0;
    background-color: #2E323F;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    margin-bottom: 5px;
}


@media (min-width : 600px){
    html{
        font-size: 62.5%;
    }
    body{
        font-size: 2rem;
    }
    .big__hero__text{
        width: 80%;
        font-size: 9rem;
    }
    .hero__other{
        width: 70%;
    }
    .row2{
        gap: 1rem;
        line-height: 1.5;
        font-size: 2rem;
        flex-direction: row;
    }
}

@media (min-width : 900px) {
    body{
        font-size: 1.8rem;
    }
    .hero__box{
        padding: 15rem 0;
    }
    .herobox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10rem;
    }
    .hero__box .big__hero__text{
        width: 100%;
        margin: 0;
    }
    .hero__box .hero__other{
        width: 100%;
    }

    .row{
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .col{
        text-align: center;
    }

    .row2{
        flex-direction: column;
    }

    .secondary__section--main{
        text-align: left;
    }
    .footer__heading{
        text-align: center;
        font-size: 5.6rem;
    }
    .footercol{
        font-size: 1.6rem;
        width: 50%;
        font-weight: 300;
        line-height: 179%;
    }
    .footercol h3{
        font-size: 3.2rem;
    }
    .footercol:not(:first-child){
        width: 20%;
    }
}